<!DOCTYPE html>
<html lang="en">
<head>
  <title> NGO Working For a Cause!!"</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Udaan</h1>
      <p>Ek Saffar Jindagi ka...</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h3>Who we are?</h3>
        <p> We are group of young people working for</p>
        <p> NGOs who are operational in samll and remote</p>
        <p> place of india.</p>
      </div>
      <div class="col-sm-4">
        <h3>What we do?</h3>
        <p>We are trying provide a platform to NGOs working</p>
        <p>in remote places, with limited exposer to the</p>
        <p>World. so that they can have a wider scope and helping network</p>
      </div>
      <div class="col-sm-4">
        <h3>Why we are doing?</h3>
        <p>Couse sometime working for something wont pay you physical</p>
        <p>But a smile which stays on your face... :-) </p> 
      </div> 
    </div>
  </div>
</body>
</html>  
